@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Simonetta&display=swap');

* {
    border: 1px solid black;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: fit-content;
    font-family: 'Tangerine', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section {
    display: flex;
    background-image: url(../assets/images/pembuka.jpg);
    background-position: center;
    box-shadow: 0px 0px 5px 5px cyan;
    margin-top: 18vh;
    width: 80vw;
    height: 70vh;
    margin-left: 10%;
    border-radius: 0 40px 0 40px;

    p {
        font-family: 'Simonetta', cursive;
        float: left;
        width: 30%;
        margin-left: 5vw;
        padding: 1.7em 1em 1em 1em;
        font-size: larger;
    }
}

.menu-wrap {
    width: fit-content;
    padding: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/kotak.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;

    h1 {
        color: white;
    }
}

#menu {
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Simonetta', cursive;
    border-radius: 40px;
    box-shadow: 7px 7px 5px grey;
    border: none;
    width: 15vw;

    &:hover {
        font-weight: bold;
    }
}

.container {
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 600px;
    margin: 0 auto;
    padding: 1em;

    p {
        font-family: 'Simonetta', cursive;
        text-align: center;
        font-size: larger;
    }
}

@media only screen and (max-width: 600px) {
    body {
        height: fit-content;
    }

    section {
        margin-top: 50%;
        display: block;
        background-image: none;
        box-shadow: none;
        width: 100%;
        margin-left: 0;

        h1 {
            text-align: center;
            font-size: 2em;
        }

        p {
            display: none;
        }

        .menu-wrap {
            display: flex;
            flex-direction: column;
            background-image: none;
            width: fit-content;
            height: fit-content;
            position: relative;

            h1 {
                color: black;
            }
        }

        #menu {
            width: fit-content;
            padding: 0.8em;
            border: 1px solid cyan;
            border-radius: 1em;
            box-shadow: 2px 2px 5px 4px cyan;
            background-color: white;
            font-family: 'Simonetta', cursive;
            font-size: medium;
            font-weight: bold;
            align-self: center;
        }
    }

    .container {
        width: fit-content;
        margin-bottom: 1em;
        background-color: rgba(0, 174, 255, 0.219);
        backdrop-filter: blur(5px);

        h1 {
            text-align: center;
            margin-bottom: 1.5em;
        }

        p {
            font-size: medium;
        }
    }

    .awal {
        margin-top: 50%;

        ul {
            display: flex;
            flex-direction: row;

            li {
                text-decoration: none;
                display: block;
                align-self: center;

                img {
                    width: 40%;
                    margin-left: 15%;
                }
            }
        }
    }

    #back {
        width: fit-content;
        padding: 0.8em;
        border: 1px solid cyan;
        border-radius: 1em;
        box-shadow: 2px 2px 5px 4px cyan;
        background-color: white;
        font-family: 'Simonetta', cursive;
        font-size: medium;
        font-weight: bold;
        align-self: center;
        transition-duration: 2s;
        transition-delay: 1s;
        margin-left: 38%;
        margin-bottom: 1em;
    }
}