@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Simonetta&display=swap");
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: 'Tangerine', cursive;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../assets/images/pembuka.jpg);
  background-position: center;
  -webkit-box-shadow: 0px 0px 5px 5px cyan;
          box-shadow: 0px 0px 5px 5px cyan;
  margin-top: 18vh;
  width: 80vw;
  height: 70vh;
  margin-left: 10%;
  border-radius: 0 40px 0 40px;
}

section p {
  font-family: 'Simonetta', cursive;
  float: left;
  width: 30%;
  margin-left: 5vw;
  padding: 1.7em 1em 1em 1em;
  font-size: larger;
}

.menu-wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../assets/images/kotak.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.menu-wrap h1 {
  color: white;
}

#menu {
  padding: 0.5em;
  font-size: 1em;
  font-family: 'Simonetta', cursive;
  border-radius: 40px;
  -webkit-box-shadow: 7px 7px 5px grey;
          box-shadow: 7px 7px 5px grey;
  border: none;
  width: 15vw;
}

#menu:hover {
  font-weight: bold;
}

.container {
  border: 3px solid whitesmoke;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  padding: 1em;
  background-color: rgba(0, 174, 255, 0.219);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container p {
  font-family: 'Simonetta', cursive;
  text-align: center;
  font-size: larger;
}

.awal {
  margin-top: 10%;
}

.awal h1 {
  text-align: center;
}

.awal ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.awal ul li {
  text-decoration: none;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.awal ul li img {
  width: 40%;
  margin-left: 30%;
  margin-top: 2em;
}

#back {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8em;
  border: 1px solid cyan;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 5px 4px cyan;
          box-shadow: 2px 2px 5px 4px cyan;
  background-color: white;
  font-family: 'Simonetta', cursive;
  font-size: medium;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
  margin-left: 46%;
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  body {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  section {
    margin-top: 50%;
    display: block;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  section h1 {
    text-align: center;
    font-size: 2em;
  }
  section p {
    display: none;
  }
  section .menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  section .menu-wrap h1 {
    color: black;
  }
  section #menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.8em;
    border: 1px solid cyan;
    border-radius: 1em;
    -webkit-box-shadow: 2px 2px 5px 4px cyan;
            box-shadow: 2px 2px 5px 4px cyan;
    background-color: white;
    font-family: 'Simonetta', cursive;
    font-size: medium;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 1em;
    background-color: rgba(0, 174, 255, 0.219);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .container h1 {
    text-align: center;
    margin-bottom: 1.5em;
  }
  .container p {
    font-size: medium;
  }
  .awal {
    margin-top: 50%;
  }
  .awal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .awal ul li {
    text-decoration: none;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .awal ul li img {
    width: 40%;
    margin-left: 15%;
    margin-top: auto;
  }
  #back {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.8em;
    border: 1px solid cyan;
    border-radius: 1em;
    -webkit-box-shadow: 2px 2px 5px 4px cyan;
            box-shadow: 2px 2px 5px 4px cyan;
    background-color: white;
    font-family: 'Simonetta', cursive;
    font-size: medium;
    font-weight: bold;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: auto;
    margin-left: 38%;
    margin-bottom: 1em;
  }
}
/*# sourceMappingURL=style.css.map */